.contact {
  &__wrap {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;

    background: #f2f3f8 url('../../../assets/img/assistant.webp') no-repeat 90%;
    background-size: contain;
  }

  &__content {
    width: 80%;
  }

  &__title {
    font-size: 45px;
    font-family: "PT Serif", "Times New Roman", sans-serif;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;

    .input {
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid #cca876;
      padding: 10px;
    }

    .textarea {
      border: none;
      border-bottom: 1px solid #cca876;
      padding: 10px;
      height: 200px;
      resize: none;
    }

    .btn {
      border: none;
      color: #fff;
      transition: all 0.4s;
      cursor: pointer;
      background: #cca876;
      width: fit-content;
      margin-top: 20px;
      padding: 15px 40px;
      font-size: 18px;
      font-weight: bold;

      &:hover {
        background: #86724f;
        color: #fff;
        &:after   {
          height: 0;
        }
      }
    }
  }

  &__img {

  }
}