<div class="contact__wrap">
    <div class="contact__content">
        <h1 class="contact__title">Зв'язатись з нами</h1>
        <form class="contact__form">
            <input type="text" class="input" placeholder="Ваше ім'я">
            <input type="number" class="input" placeholder="Номер телефону">
            <input type="text" class="input" placeholder="Пошта">
            <textarea class="textarea" placeholder="Повідомлення"></textarea>
            <button type="submit" class="btn">Замовити консультацію</button>
        </form>
        <div class="contact__img"></div>
    </div>
</div>
