.clients {
  &__wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../../../assets/img/paralax.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 100px 0;
  }

  &__stats {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    z-index: 2;

    .icon {
      width: 50px;

    }

    .amount {
      font-size: 55px;
      font-family: "PT Serif", "Times New Roman", sans-serif;
      font-weight: bold;
    }

    .text {
      color: #c7c7c7;
      font-size: 18px;
    }
  }
}
