<header class="header">
    <div class="contacts">
        <div class="aside">
            <a href="tel:+380671234567" class="tel">
                <img src="assets/icons/phone-call.svg" alt="call">
                <p>+38 (067) 1234567</p>
            </a>
            <a href="mailto:test@example.com" class="mail">
                <img src="assets/icons/clip-mail.svg" alt="email">
                <p>{{'polischykp@gmail.com'}}</p>
            </a>
            <div class="network">
                <div class="fb"><img src="assets/icons/facebook.svg" alt="facebook"></div>
                <div class="fb"><img src="assets/icons/facebook.svg" alt="facebook"></div>
                <div class="fb"><img src="assets/icons/facebook.svg" alt="facebook"></div>
            </div>
        </div>
    </div>
    <div class="navigation_wrap">
        <div class="navigation">
            <div class="logo">
                <img src="assets/img/logo.jpeg" alt="logo">
            </div>
            <nav class="nav">
                <ul>
                    <li>Головна</li>
                    <li>Про нас</li>
                    <li>Контакти</li>
                    <li class="connect">Консультація</li>
                </ul>

            </nav>
        </div>
    </div>

</header>
