.slider{
  &__wrap {
    background-image: url("../../../assets/img/home-slider-slide-2.jpg");
    background-size: cover;
    background-position: center;
    height: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
      color: #cca876;
      font-size: 32px;
      font-family: "Times New Roman", sans-serif;
      text-align: center;
      font-weight: 700;
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        top: 50%;
        left: calc(50% - 110px);
        background: #cca876;
      }

      &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        top: 50%;
        right: calc(50% - 110px);
        background: #cca876;
      }
    }
    
    .desc {
      color: #fff;
      text-align: center;
      font-size: 48px;
      font-family: "Times New Roman", sans-serif;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .btn {
      border: 2px solid #cca876;
      color: #fff;
      transition: all 0.4s;
      cursor: pointer;
      background: transparent;
      padding: 20px;
      width: 50%;
      margin: auto;
      font-size: 18px;
      font-weight: 700;
    }
  }




}