<div class="about__wrap">
    <div class="about__content">
        <div class="about__bg"></div>
        <div class="about__main">
            <div class="about">
                <div class="desc">
                    <div class="header">Про нас</div>
                    <div class="text">When you place your case in the hands of our lawyers and paralegals, you are placing your case in the hands of professionals who are committed to achieving the best possible outcome.</div>
                    <div class="name">Павло Поліщук, <span>керівник</span></div>
                </div>
                <button class="button">Записатись на консультацію</button>
            </div>
            <div class="photo">
                <img src="assets/img/ceo.jpg" alt="ceo img">
            </div>
        </div>
    </div>
</div>
