.services {
  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  &__header {
    text-align: center;
    padding: 40px;
    font-size: 48px;
  }

  &__items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cca876;
    padding: 50px 30px;
    width: 330px;

    .icon {
      width: 50px;
      margin: auto;
    }

    .header {
      font-size: 24px;
      font-weight: 600;
      padding: 20px 0;
      position: relative;

      &:after {
        width: 60px;
        height: 2px;
        background: #cca876;
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 30px);
      }
    }

    .desc {
      width: 225px;
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      color: #9f9f9f;
    }
  }
}
